<div class="container">
	<div class="row">
		<%= form_with model: @part, local: true do |f| %>
			<div class="field">
				<%= f.label :name, "部位" %>
				<%= f.text_area :name, placeholder: "背中"  %>
			</div>
		<%= f.submit "追加", class: "btn btn-primary" %>
		<% end %>
	</div>
	<div class="row">
		<table class="table table-bordered">
				<% @parts.each.with_index(1) do |part, idx| %>
		    		<tr>
		    			<th>部位<%= idx %></th>
		    			<td><%= part.name %></td>
		    		</tr>
				<% end %>
		</table>
</div>
