<div class="row justify-content-center">
	<h3 class="intro-title pb-3">部位のリンクを押して本日のトレーニングを公開しましょう！</h4>
</div>
<div class="row justify-content-center">
	<div class="col-8 my3 border">
		<div class="row justify-content-center border-part">
		部位一覧)
			<% @bigs.each.with_index(1) do |big, index| %>
				<tr>
					<th><button type="button" class="btn btn-light"><%= index %></th>
					<td><%= link_to big.name, big_path(big.id) %></td></button>
				</tr>
			<% end %>
		</div>
		<div class="row justify-content-center">
			<h4 class="intro-title pb-3">部位を選んで種目を追加しましょう！</h4>
		</div>
		<div class="row justify-content-center mt-3">
			<%= form_with model: @part, local: true do |f| %>
			<div class="col">
			<%= f.label :name, "部位" %>
			<%= f.collection_select :big_id, Big.all, :id, :name, :include_blank => "選択してください" %>
			</div>
			<div class="col">
				<%= f.label :name, "種目" %>
				<%= f.text_area :name, placeholder: "例）懸垂"  %>
				<%= f.submit "種目を追加", class: "btn btn-danger" %>
			</div>
			<% end %>
		</div>
	</div>
	<%= render 'parts/menu' %>
</div>
