<div class="row justify-content-center">
	<h1>登録情報編集</h1>
	<%= render "users/shared/error_messages", resource: @user %>
</div>
<% if @user != @guest_user %>
<div class="row justify-content-center">
	<%= form_for (@user) do |f| %>
		<div class='form-group row'>
			<div class='col-lg-4'>
				<h5><%= f.label :name, "名前" %></h5>
			</div>
			<div class='col-lg-8'>
				<span style='display: inline-block;'>
					<%= f.text_field :name  %>
				</span>
			</div>
		</div>
		<div class='form-group row'>
			<div class='col-lg-4'>
				<h5><%= f.label :email, "Eメール" %></h5>
			</div>
			<div class='col-lg-8'>
				<%= f.text_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
			</div>
		</div>
		<div class='form-group row'>
			<div class='col-lg-4'>
				<div class="user-image">
				<%= attachment_image_tag @user, :image, fallback: "no_image.jpg", id: "img_prev", style: "height: 200px; width:200px;" %><br>
				</div>
			</div>
			<div class='col-lg-8'>
				<%= f.attachment_field :image %>
			</div>
		</div>
		<div class="form-group-btn">
			<%= f.submit '編集内容を保存する', class:'btn btn-primary' %>
			<div class="col-lg-4">
				<%= link_to '退会する', unsubscribe_user_path(@user), class:'btn btn-danger'  %>
			</div>
		</div>
	<% end %>
</div>
<% end %>
<div class="row justify-content-center mt-5">
	<% if @user == @guest_user %>
		<h1>ゲストユーザーは編集できません。</h1>
	<% end %>
</div>
<script type="text/javascript" src="application.js"></script>