<div class="row  justify-content-center">
	<h2 class="contact-title">お問い合わせフォーム</h2>
</div>
	<div class="row  justify-content-center">
    	<%= form_for @contact, url: contacts_path do |f| %>
        	<%= f.label :タイトル %>
        	<%= f.text_field :title, class:"form-control" %>
        	<%= f.label :内容 %>
          <%= f.text_field :body, class:"form-control" %>
        	<%= f.submit "送信" %>
    	<% end %>
</div>