<div class="row  justify-content-center">
    <h2>問い合わせ一覧</h2>
</div>
<div class="row  justify-content-center">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>問い合わせタイトル</th>
        <th>受信日</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% user.contacts.each do |contact| %>
          <tr>
            <td><%= contact.user.name %></td>
            <td><%= contact.title %></td>
            <td><%= l contact.created_at, format: :middle %></td>
            <td><%= link_to "返信", edit_admins_contact_path(contact) %></td>
            <td><%= link_to "削除", admins_contact_path(contact), method: :delete %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>