<% muscle.muscle_comments.each do |muscle_comment| %>
<div class="row">
  <div class="col-md-6 mt-5 text-center">
    <div class="row justify-content-center mt-5">
        <div class="col-4 mt-3 text-center">
          <%= attachment_image_tag muscle.user, :image, :fill, 40, 40, fallback: "no_image.jpg", size:'50x50', class: "img-circle pull-left profile-thumb" %>
        </div>
        <div class="col-4 mt-3 text-center">
          <%= link_to "#{ muscle_comment.user.name }",user_path(muscle_comment.user.id) %>
        </div>
        <div class="col-4 mt-3 text-center">
         <span class="comment-date"><%= l muscle_comment.created_at, format: :middle %></span>
        </div>
    </div>
  </div>
</div>
<div class="row ml-3">
  <div class="co-l0 mt-5">
    <%= muscle_comment.comment %>
  </div>
  <div class="col-2 mt-5">
    <% if muscle_comment.belongs_to_current_user?(current_user) %>
    <i class="fas fa-trash"></i><%= link_to "削除", muscle_muscle_comment_path(muscle_comment.muscle, muscle_comment), method: :delete, remote: true %>
    <% end %>
  </div>
</div>
<% end %>
