<div class="row justify-content-center">
	<h1>投稿編集</h1>
</div>
<%= form_with model: @muscle, local: true do |f| %>
<div class="row justify-content-center">
</div>
<div class="row justify-content-center">
	<div class="field">
		<%= f.label :weight, "重量" %>
		<%= f.text_field :weight, placeholder: "100kg"%>
	</div>
</div>
<div class="row justify-content-center">
	<div class="field">
	    <%= f.label :rep, "回数" %>
	    <%= f.text_field :rep, placeholder: "10rep"%>
	</div>
</div>
<div class="row justify-content-center">
	<div class="field-set">
	    <%= f.label :set_count, "セット数" %>
	    <%= f.text_field :set_count, placeholder: "３セット"%>
	</div>
</div>
<div class="row justify-content-center">
	<div class="field">
	   <%= f.label :memo, "メモ" %>
	   <%= f.text_field :memo %>
	</div>
</div>
<div class="row justify-content-center">
	<div class="field">
	   <%= f.label :work_tag, "タグ" %>
	   <%= f.text_field :work_tag, placeholder: "#を先頭につけて下さい　例：#今日の筋トレ" %>
	</div>
</div>
<div class="row justify-content-center">
	<%= f.hidden_field :part_id, :value => @part.id %>
	<%= f.submit "編集内容を保存する", class: "btn btn-primary w-25" %>
</div>
<% end %>
