<table class="table">
        <thead>
          <tr>
          <th></th>
          <th>名前</th>
          <th>部位</th>
          <th>種目</th>
          <th>重さ(kg)</th>
          <th>レップ数</th>
          <th>セット数</th>
          <th>メモ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <td>
          <%= attachment_image_tag @user, :image, :fill, 40, 40, fallback: "no_image.jpg", size:'50x50', class: "img-circle pull-left profile-thumb" %>
          </td>
          <td>
          <%= link_to @user.name, user_path(@user.id) %>
          </td>
          <td>
            <%= @muscle.part.name %>
          </td>
          <td>
          <%= @muscle.genre %>
          </td>
          <td>
          <%= @muscle.weight %>
          </td>
          <td>
          <%= @muscle.rep%>
          </td>
          <td>
          <%= @muscle.set_count%>
          </td>
          <td>
          <%= @muscle.memo %>
          </td>
          <td>
            <% if @muscle.user == current_user %>
            <%= link_to "編集する", edit_muscle_path(@muscle) %>
            <%= link_to "削除する",muscle_path(@muscle), method: :delete, "data-confirm" => "本当に消しますか？" %>
            <%= link_to "ALL WORKOUTへ", muscles_path %>
            <% end %>
          </tr>
        </tbody>
      </table>
      <table class="table">