<div class="row">
    <div class="col-auto ml-1 mt-2 page-title">
      <h3>投稿詳細</h3>
    </div>
</div>
<div class="row  justify-content-center">
  <div class="card">
    <div class="text-right">
    </div>
    <div class="card-header">
       <%= attachment_image_tag @user, :image, fallback: "no_image.jpg", size:'100x100', class: "img-circle" %>
      <h4 class="card-name"><%= link_to "#{ @user.name }", user_path(@user) %>の投稿</h4>
    </div>
    <div class="card-body">
        <h5 style="font-weight: bold;"><i class="fas fa-calendar-week"></i> 日付</h5>
        <%= l @muscle.created_at, format: :long %>
      <hr>
        <h5 style="font-weight: bold;"><i class="fas fa-dumbbell"></i>部位</h5>
         <%= @muscle.part.big.name%>
      <hr>
        <h5 style="font-weight: bold;"><i class="fas fa-running"></i> 種目</h5>
        <%= @muscle.part.name %>
      <hr>
        <h5 style="font-weight: bold;"><i class="fas fa-dumbbell"></i>重量</h5>
          <%= @muscle.weight %>kg
      <hr>
        <h5 style="font-weight: bold;"><i class="fas fa-dumbbell"></i>レップ数</h5>
          <%= @muscle.rep %>rep
      <hr>
        <h5 style="font-weight: bold;"><i class="fas fa-history"></i>セット数</h5>
        <%= @muscle.set_count%>set
      <hr>
        <h5 style="font-weight: bold;"><i class="far fa-file"></i>メモ</h5>
        <%= @muscle.memo%>
      <hr>
        <h5 style="font-weight: bold;"><i class="fas fa-thumbs-up"></i>いいね</h5>
        <h5 class="muscles_<%= @muscle.id %>">
          <%= render 'muscles/favpage', muscle: @muscle %>
        </h5>
      <hr>
        <h5 style="font-weight: bold;"><i class="fas fa-pen"></i></i>コメント数</h5>
        <%= @muscle.muscle_comments.count %>件コメント
      <hr>
        <h5 style="font-weight: bold;"><i class="fas fa-tag"></i> タグ</h5>
        <%= render_with_hashtags(@muscle.work_tag) %>
        <hr>
        <% if @muscle.belongs_to_current_user?(current_user) %>
          <%= link_to "編集する", edit_muscle_path(@muscle), class: "btn btn-success" %>
          <%= link_to "削除する",muscle_path(@muscle), method: :delete, "data-confirm" => "本当に消しますか？",  class: "btn btn-dark"%>
          <%= link_to "ALL WORKOUTへ", muscles_path, class: "btn btn-danger" %>
        <% end %>
    </div>
  </div>
</div>
<div class="row  justify-content-center">
  <table class="table">
    <tr>
    <td class="muscle_<%= @muscle.id %>">
        <%= render 'muscles/comment', muscle: @muscle %>
    </td>
    </tr>
  </table>
    <%= form_with(model: [@muscle, @muscle_comment]) do |f| %>
      <div class="row">
        <div class="col-sm-12">
          <%= f.text_field :comment, class: "form-control",placeholder: "コメントをここに" %>
        </div>
      </div>
      <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
    <% end %>
</div>