<!DOCTYPE html>
<html>
  <head>
    <title>MuscleDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>

  <body>
  <header class="head">
      <nav class="navbar">
        <div class="wrap load-up">
         <h1>MuscleDiary</h1>
        </div>
      </nav>
      <ul class="nav">
                <% if admin_signed_in? %>
                    <li class="nav-item"><%= link_to 'お問い合わせ一覧', admins_contacts_path %></li>
                    <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
                <% elsif user_signed_in? %>
                    <li class="nav-item"><%= link_to 'ALL WORKOUT', muscles_path %></li>
                     <li class="nav-item"><%= link_to 'FRIEND WORKOUT', new_muscle_path %></li>
                    <li class="nav-item"><%= link_to 'TODAY WORKOUT', new_muscle_path %></li>
                    <li class="nav-item"><%= link_to 'CONTACT', new_contact_path %></li>
                    <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path %></li>


                <% else %>
                    <li class="nav-item"><%= link_to 'ABOUT', homes_about_path %></li>
                    <li class="nav-item"><%= link_to 'CONTACT', new_contact_path %></li>
                    <li class="nav-item"><%= link_to 'SIGN UP', new_user_registration_path %></li>
                    <li class="nav-item"><%= link_to 'LOG IN',  new_user_session_path %></li>
                <% end %>
      </ul>
  </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
