<!DOCTYPE html>
<html>
  <head>
    <title>MuscleDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex justify-content-between">
        <div data-turbolinks='false'>
          <a href="/">
          <img class="logo"></a>
        </div>
        <%= render 'layouts/navbar_collapse' %>
        <%= render 'layouts/modal_menu' %>
      </nav>
    </header>
    <div class="wrapper">
    <div class="container-fluid">
    <%= render 'layouts/flashes' %>
    <div
    <% if content_for?(:body_attributes) %>
      <%= yield(:body_attributes) %>
    <% end %>
    >
      <%= yield %>
    </div>
    </div>
    <div class="push"></div>
    <footer>
       <h3>©︎2020-2020 MuscleDiary.</h3>
    </footer>
    </div>
  </body>
</html>
