<div class="container fluid">
  <%= render "users/shared/error_messages" %>
  <div class="row justify-content-center">
    <h2>編集ページ</h2>
  </div>
  <div class="row justify-content-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %>(再設定するパスワードを入力して下さい)<br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %>文字以上入力して下さい</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %>(現在のパスワードを入力して下さい)<br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "パスワードを変更する" %>
        <%= link_to "マイページへ戻る", user_path(@user) %>
      </div>
    <% end %>
  </div>
</div>
